@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-ppmori: 'PPMori', system-ui, -apple-system, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ppmori), Arial, Helvetica, sans-serif;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍉</text></svg>") 16 0, auto;
}

* {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍉</text></svg>") 16 0, auto;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-10deg);
  }
  20% {
    opacity: .75;
    transform: scale(1) rotate(0deg);
  }
  80% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: scale(0.8) rotate(10deg);
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
